<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Hello Tymeleaf </h1>
<p> <a href="hithymeleaf"> hithymeleaf.html </a></body>
<p> <a href="literal"> literal.html </a></body>
<p> <a href="variable"> variable.html </a></body>
<p> <a href="operation"> operation.html </a></body>
<p> <a href="text_basic"> text_basic.html </a></body>
<p> <a href="attribute"> attribute.html </a></body>
<p> <a href="ifcondition"> ifcondition.html </a></body>
<p> <a href="condition"> condition.html </a></body>
<p> <a href="each"> each.html </a></body>
<p> <a href="block"> block.html </a></body>
<p> <a href="link"> link.html </a></body>
<p> <a href="basicobjects"> basicobjects.html (ParamData 없는 경우) </a></body>
<p> <a href="basicobjects?paramData=Good"> basicobjects.html (ParamData 있는 경우) </a></body>
<p> <a href="fragmentMain1"> fragmentMain1.html (ParamData 있는 경우) </a></body>
<p> <a href="fragmentMain2"> fragmentMain2.html (ParamData 있는 경우) </a></body>
</html>

<!-- 	HTML의 주석 		-->
<!--/*	(1줄 주석)   		*/-->
<!--/*  (2줄 이상 주석)    */-->